### Задача 1
Используя данные о хоккеистах (скачать можно здесь), проверьте, является ли среди хоккеистов из Финляндии, Норвегии и Дании значимым отличие: а) роста, б) BMI.

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [35]:
df = pd.read_csv("hockey_players.csv")
df

,year,country,no,name,position,side,height,weight,birth,club,age,cohort,bmi
0,2001,RUS,10,tverdovsky oleg,D,L,185,84.0,1976-05-18,anaheim mighty ducks,24.952772,1976,24.543462
1,2001,RUS,2,vichnevsky vitali,D,L,188,86.0,1980-03-18,anaheim mighty ducks,21.119781,1980,24.332277
2,2001,RUS,26,petrochinin evgeni,D,L,182,95.0,1976-02-07,severstal cherepovetal,25.229295,1976,28.680111
3,2001,RUS,28,zhdan alexander,D,R,178,85.0,1971-08-28,ak bars kazan,29.675565,1971,26.827421
4,2001,RUS,32,orekhovsky oleg,D,R,175,88.0,1977-11-03,dynamo moscow,23.490760,1977,28.734694
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3289,2016,USA,7,compher j.t.,F,R,180,87.0,1995-04-08,university of michigan,21.065024,1995,26.851852
3290,2016,USA,72,vatrano frank,F,L,178,98.0,1994-03-14,boston bruins,22.132786,1994,30.930438
3291,2016,USA,1,kinkaid keith,G,L,191,88.0,1989-07-04,new jersey devils,26.825462,1989,24.122146
3292,2016,USA,30,condon mike,G,L,188,89.0,1990-04-27,montreal canadiens,26.012320,1990,25.181077
3293,2016,USA,31,demko thatcher,G,L,193,95.0,1995-12-08,boston college,20.396988,1995,25.504040

In [36]:
y1 = df[df["country"] == "FIN"]["height"]
y2 = df[df["country"] == "NOR"]["height"]
y3 = df[df["country"] == "DEN"]["height"]

In [12]:
stats.f_oneway(y1, y2, y3)

F_onewayResult(statistic=3.593457507240696, pvalue=0.02833215521299233)

In [16]:
n1 = y1.shape[0]
n2 = y2.shape[0]
n3 = y3.shape[0]

In [18]:
y1_mean = y1.mean()
y2_mean = y2.mean()
y3_mean = y3.mean()

In [24]:
y = df[df["country"].isin(["FIN", "NOR", "DEN"])]["height"]

In [28]:
y_mean = y.mean()

In [29]:
SS_b = n1 * (y1_mean - y_mean) ** 2 + n2 * (y2_mean - y_mean) ** 2 + n3 * (y3_mean - y_mean) ** 2

SS_w = ((y1 - y1_mean) ** 2).sum() + ((y2 - y2_mean) ** 2).sum() + ((y3 - y3_mean) ** 2).sum()

In [32]:
k = 3
n = n1 + n2 + n3

k1 = k - 1
k2 = n - k

sigma2_b = SS_b / k1
sigma2_w = SS_w / k2

sigma2_b, sigma2_w

(93.14492174795387, 25.920696588250017)

In [33]:
F = sigma2_b / sigma2_w
F

3.59345750724064

In [34]:
alpha = 0.05

t = stats.f.ppf(1 - alpha, k1, k2)
t

3.016700272452327

Принимаем H1 - разница роста по странам значима.

In [38]:
y1 = df[df["country"] == "FIN"]["bmi"]
y2 = df[df["country"] == "NOR"]["bmi"]
y3 = df[df["country"] == "DEN"]["bmi"]

In [39]:
stats.f_oneway(y1, y2, y3)

F_onewayResult(statistic=8.682513420531995, pvalue=0.00020108587146857798)

Принимаем H1 - разница bmi по странам значима.

#### Ответ: в обоих случаях различие значимо